# Logs
*.log

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual envs + env files
venv/
.env
*.env

# IDE / OS files
.vscode/
.DS_Store

# Docker helper files
docker-compose*.yml
Dockerfile
.dockerignore
